<div class="app-background">

  <nav class="navbar navbar-expand-lg navbar-dark bg-primary shadow">
    <div class="container-fluid flex-column">

      <!-- Student App Title -->
      <a class="navbar-brand mx-auto fs-2" routerLink="/">Student App</a>

      <!-- Centered Links -->
      <div>
        <ul class="navbar-nav flex-row justify-content-center">
          <li class="nav-item mx-3">
            <a class="nav-link text-white" routerLink="/record">Student Record</a>
          </li>
          <li class="nav-item mx-3">
            <a class="nav-link text-white" routerLink="/register">Student Register</a>
          </li>
        </ul>
      </div>

    </div>
  </nav>

  <div class="container mt-4">
    <router-outlet></router-outlet>
  </div>

</div>
